@import './base.css';

#app {
  display: grid;
  grid-template-areas:
    'aside main main'
    'player player player';
  grid-template-columns: 350px 1fr;
  grid-template-rows: 1fr auto;
  background-color: #000;
  color: white;
}

@media (max-width: 1024px) {
  #app {
    grid-template-areas:
      'main'
      'player'
      'aside';
    grid-template-columns: 1fr; /* Una sola columna */
    grid-template-rows: auto auto auto; /* Ajusta las filas según contenido */
  }
}
